/* for interface*/
.container {
  padding: 6px 30px 50px;
  /* display: flex;
  flex-direction: row; */
}

.shop {
  color: white;
  width: 60%;
  line-height: 42px;
}
.head {
  display: flex;
  justify-content: space-between;
}

.for-input {
  padding: 10px 13px;
  width: 66%;
  border-radius: 7px;
  outline: none;
  border: none;
}

.search {
  padding: 11px 15px;
  border-radius: 7px;
  outline: none;
  background-color: #007ee5;
  border: none;
  color: white;
  font-size: 14px;
}

.search:hover {
  background-color: #0c283f;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  /* border: 0.5px solid rgb(218, 218, 218); */
  outline: none;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 81%;
}

.gadgets {
  width: 100%;
}

.for-gadgets {
  width: 30vw;
}

/* for side-bar*/

.side-bar {
  background-color: #1e242f;
  /* width: 24%; */
  color: white;
  width: fit-content;
  padding: 1px 2rem 1px 9px;
  height: fit-content;
  /* position: fixed; */
}
.filter {
  display: flex;
  flex-direction: column;
}
/* For filter*/
.range-filter {
  padding-top: 10px;
  width: 240px;
  margin: auto;
  margin-bottom: 10px;
}
.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  overflow: hidden;
}

.scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}
.bar {
  margin-left: 35px;
  width: 110px;
  height: 2px;
  background: #ffffff;
}
.toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
}

.for-min {
  position: absolute;
  top: 5px;
  left: 3.7rem;
}

.for-max {
  position: absolute;
  top: 5px;
  right: 2.7rem;
}

.min-toggle {
  left: 50px;
}
.max-toggle {
  left: 165px;
}

/* End of fiiter */
.min,
.max {
  padding: 8px 6px;
  width: 75%;
  border-radius: 4px;
  margin: 6px;
  border: none;
  outline: none;
}

center {
  padding: 10px;
}

.side-bar ul {
  padding-inline-start: 5px;
}

.side-bar li {
  list-style: none;
  padding-bottom: 20px;
}

/*for card */
.cards {
  margin-left: 1rem;
}
.card {
  background-color: #1e242f;
  padding: 0.5rem 0.6rem;
  max-width: 11.5rem;
  text-align: center;
  margin: 20px 25px;
  color: white;
  position: relative;
}
.card li {
  list-style: none;
  padding: 4px 0px;
}
.card ul {
  padding-inline-start: 5px;
  text-align: left;
}

.phone {
  width: 100%;
}

.cards-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: auto;
  padding: 10px 1rem; */
}

.flex {
  display: flex;
  flex-direction: row;
}

.span {
  border: 1px solid #ababab;
  padding: 4px 12px;
  font-size: 11px;
  margin-left: 8.3rem;
}

.phone-specs {
  color: #bfbfbf;
}

.buy {
  text-align: center;
  padding: 10px 40px;
  background-color: #007ee5;
  color: white;
  border: none;
  border-radius: 7px;
}

li.iphone {
  font-size: 20px;
}

li.size {
  font-size: 13px;
}

li.unit {
  font-size: 12px;
}

li.price {
  font-weight: 700;
  font-size: 22px;
}

li.available {
  font-size: 14px;
}
